@media only screen and(max-width:800px){
    /*  */
    .content{
        width: 5%;
    }
    .back{
        width: 5%;
    }
    
    .brick{
        width: 5%;
    }
    .icon{
        width: 5%;
    }
    .pure{
        width: 5%;
    }
    .ppp{
        width: 5%;
    }
    .images{
        width: 5%;
    }
    .marg{
        width: 5%;
    }



}