.content{
    margin-left: 30%;
    justify-content: space-between;
    display: flex;
    margin-right: 30%;  
}
#at{
    margin-left: 40%;
}
#flag{
    width: 50px;
    height: 30px;
    margin-left: 90%;
    border-radius: 8px;
    margin-top: -20%;
}
.back{
    background-color: yellow;   
}
#bit{
    margin-left: 10%;
    font-size: 30px;
    margin-bottom: 20px;
    
}
#cat{
    margin-left: 10%;
    font-size: 20px;
    border-radius: 30px;
    height: 30px;
    width: 10%;
}
.icon{
    margin-left: 80%;
}
#fa{
    width: 20%;
    height: 30px;
    text-align: left;
}
#spir{
    margin-left: 8%;
    margin-top: -1.3%;
}
.mimi{
    margin-left: 800px;
    margin-top: 100px;
}
#cl{
    color: yellow;
    margin-left: 30px;
}
#sisi{
    color: green;
    margin-top: 40px;
}
#pl{
    margin-left: 100px;
    margin-top: -45px;
    color: wheat;
}
#but1{
    background-color: wheat;
    color: white;
    border: solid;
    border-radius: 50px;
    width: 35px;
    height: 30px;
}
#but2{
    background-color: yellow;
    color: white;
    border: solid;
    border-radius: 50px;
    width: 35px;
    height: 30px;
}
#but3{
    border:yellow solid;
    background-color: yellow;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    color: white;
}
#but4{
    color: yellow;
    margin-left: 200px;
    margin-top: -45px;
    border-radius: 50px;
    font-size: 40px;
}
#posh{
    margin-left: 25px;
    margin-top: -15px;
}
#gig{
    border:yellow solid;
    /* border-radius: 20px; */
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: yellow;
    color: white;
}
.were{
    margin-left: 300px;
    margin-top: -120px;
}
#you{
    width: 500px;
    /* height: 400px; */
}
#la{
    border-radius: 10px;
    background-color: purple;
    margin-top: -400px;
    border:purple solid;
    
}
.wer{
    margin-left: 90px;
    margin-top: -450px;
}
#pip{
    width: 50px;
}
#lake{
    width: 60px;
    height: 50px;
}
#yes{
    width: 100px;
    height: 50px;
}
.abot{
    margin-left: 400px;
}
#re{
    border:yellow solid;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    background-color: yellow;
    margin-right: 20px;
}
#vi{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: whitesmoke;
}
#pop{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 20px;
    margin-left: 20px;
}
/* .dot{
    background-color: grey;
    height: 1px;
} */
#con{
    margin-left: 200px;
}
#fun{
    margin-left: 500px;

}
.old{
    margin-left: 250px;
}
#kl{
    border:burlywood solid;
    border-radius: 10px;
}
#img{
    border: burlywood solid;
    border-radius: 10px;
    margin-left: 50px;
}
#bb{
    margin-left: 500px;
    border: burlywood solid;
    border-radius: 10px;
    margin-top: 30px;
}
#may{
    margin-left: 500px;
}
.mkuu{
    margin-left: 150px;
}
#jane{
    width: 200px;
}
#the{
    margin-top: -5px;
}
#ss{
    color: yellow;
    margin-left: 150px;

}
#lo{
    color: wheat;
    margin-left: 200px;
}
#lp{
margin-top: -50px;
       
}
.lol{
    margin-left: 450px;
    margin-top: -250px;
}
#py{
    width: 200px;
}
#dag{
    margin-top: -2px;
}
#uu{
    margin-top: -6px;
    color: wheat;
}
#faf{
    margin-top: -15px;
    color: red;
}
#pr{
    color: yellow;
    margin-left: 100px;
    margin-top: -70px;
}
.yup{
    margin-left: 750px;
    margin-top: -270px;
}
#jj{
    width: 200px;
}
#dd{
    margin-top: -10px;
}
#ff{
    margin-top: -10px;
}
#kk{
    color: yellow;
    margin-left: 150px;
    margin-top: -70px;
}
.opey{
    margin-left: 1050px;
    margin-top: -250px;
}
#mam{
    height: 150px;
}
#si{
    margin-top: -5px;
}
#h2{
    color: wheat;
    margin-top: -15px;
}
#df{
    margin-top: -15px;
    color: red;
}
#sho{
    color: yellow;
    margin-left: 100px;
    margin-top: -70px;
}
.we{
    margin-left: 150px;
}
#pq{
  border:yellow solid;
  width: 30px;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  margin-left: 150px;
  margin-top: -150px;
}
#pip{
    width: 100px;
}
#lake{
    height: 100px;
    width: 100px;
    margin-left: 40px;
}
#w3{
    width: 150px;
    margin-left: 50px;
}
#yes{
    width: 150px;
    margin-left: 50px;
    height: 70px;
}
#mw{
  width: 100px;
}
#top{
    height: 80px;
    width: 80px;
}
.pro{
    display: flex;
    justify-content: space-between;
    border:purple solid;
    background-color: purple;
    text-align: left;
    
    
}
.full{
    border:whitesmoke solid;
    border-radius: 10px;
    
}